@import "./Colors.scss";
@import "./Sizes.scss";

@mixin container($margin) {
  display: flex;
  height: 100vh - $header-height;
  justify-content: center;
  align-items: center;
  //margin: $margin;
}

@mixin wrapper($width) {
  display: flex;
  width: $width;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: $element-bg;
  border: $element-border;
}

@mixin header($margin-bottom) {
  padding: 0;
  margin: 0 0 $margin-bottom 0;
}

// center block
@mixin central() {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

// inputs
@mixin form() {
  width: $input-width;
  display: flex;
  align-items: center;
  margin: 5px 0;

  input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;

    &:focus {
      outline: none;
    }
  }
}

@mixin button() {
  padding: 5px 5px 2px 5px;
  border: $element-border;
  border-radius: 3px;
  background-color: white;

  &:hover {
    cursor: pointer;
    border: $focus-element-border;
  }
}
