@import "../../../../0-styles/Full-Styles.scss";

.container {
  @include container(20px)
}

.wrapper {
  @include wrapper(300px)
}

.header {
  @include header(20px)
}

.forms {
  @include central()
}

.form {
  @include form()
}

.button {
  @include button();
}

.link {
  @include button();
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
}

.error {
  margin-top: 20px;
  width: $input-width;
}

.control {
  border-top: 1px solid white;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
